html{
    scroll-behavior: smooth;
}
body{
        background-color: #abb1b9;

}
header, footer, div, ul, p, h2, h3, h4{
    border: solid black;
    font-family: futura;
}

ul{
    list-style: none;
    list-style-type: none;

}

.main-header {
    display: flex;
    font-size: 24px;
    padding: 0px;
    margin-bottom: 200px;

}

.header-list{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right:40px;
    padding: 10px;

}

.section_container_one{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    margin-top: 200px;
    margin-bottom: 200px;}

.profile-pic{
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;

}

.about-text{
    font-size: 15px;
    font-weight: lighter;
}

.section-one-middle{
    width: 300px;
}
.section-two{
    display: flex;
    justify-content: space-around;
    gap:30px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.thumbnail{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail-pic{
    height: 200px;
    width: auto;
}

.work-image{
    float: left;
    height: 100%;
    width: 400px;
    object-fit: cover;
}

 .gallery-list{
    display: flex;
    gap:10px;
    justify-content: space-around;
 }
/* .work-gallery > li{
    flex-basis: 350px;
}

.work-gallery li img{
    object-fit: cover;
    
}  */
