html{
    scroll-behavior: smooth;
}
body{
        background-color: #abb1b9;
        margin:0px;

}
header, footer, div, ul, p, h2, h3, h4{
    /* border: solid black; */
    font-family: futura;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 50px;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    list-style-type: none;

}

.main-header {
    display: flex;
    font-size: 24px;
    padding: 0px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.header-list{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right:40px;
    padding: 10px;

}

.section_container_one{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap;
    }

.profile-pic{
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;

}

.about-text{
    font-size: 15px;
    font-weight: lighter;
}

.section-one-middle{
    width: 300px;
}
.section-two{
    display: flex;
    justify-content: space-around;
    gap:30px;
    flex-wrap: wrap;
}
.thumbnail{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

.thumbnail-pic{
    float: left;
    height: 200px;
    width: 300px;
    object-fit: cover;
    justify-content: space-around;
}
.work-image{
    float: left;
    height: 100%;
    width: 400px;
    object-fit: cover;
}

 .gallery-list{
    display: flex;
    gap:10px;
    justify-content: space-around;
    flex-wrap: wrap;
 }

 .footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: auto;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    margin: 20px;
    background-color: wheat;
 }

 .about-container, .work-container, .footer-list{
    background-color: #c2c7ce;
    padding-bottom: 50px;
    padding-top: 40px;
 }

 .process-container, .contact-container{
    padding-bottom: 50px;
    padding-top: 40px;
 }

 button{
    font-size: 20px;
 }